<h1>exhibitions</h1>

<% exhibitions.forEach((exhibition) => { %>
  <div class="large-4 columns">
    <a href="/exhibitions/<%= exhibition.id %>">
      <img class="thumbnail" src="<%= exhibition.image %>" alt="<%= exhibition.name %>">
      <h2><%= exhibition.name %></h2>
      <p>
        <%= exhibition.exhibitionDate %><br>
        <%= exhibition.synopsis %><br>
        <%= exhibition.disipline %>
      </p>

      <p>
        <% while(exhibition.stars--) { %> &star; <% } %>
      </p>
    </a>
  </div>
<% }) %>
