
<div class="show-main">
  <div class="container">
    <div class="row">



      <div class="col-lg-9" class="show-text">

        <img class="card-img-top" class="thumbnail" src="/<%= exhibition.image %>" alt="<%= exhibition.name %>" alt="Card image cap" width="100%">
        <h3><%= exhibition.name %></h3>
        <h4><%= exhibition.exhibitionDate %></h4>
        <p><%= exhibition.synopsis %></p>
        <p><%= exhibition.disipline %></p>
      </div>



      <div class="col-lg-3">
        <aside>
          <% if(locals.isAuthenticated) { %>
            <section>
            <h2>Leave a review</h2>
            <form method="POST" action="/exhibitions/<%= exhibition.id %>/comments">
            <textarea name="content" id="content" placeholder="Reveiw" width="100%"></textarea>
            <button class="btn btn-primary">Add</button>
            </form>
            </section>
            <% } %>
          <section>
              <br>
              <h4>Comments</h4>
              <% exhibition.comments.forEach((comment) => { %>
                <p><%= comment.content %></p>
                <small><%= comment.createdBy.username %></small>

                <% if(locals.isAuthenticated) { %>
                  <form method="POST" action="/exhibitions/<%= exhibition.id %>/comments/<%= comment.id %>">
                  <input type="hidden" name="_method" value="DELETE">
                  <button class="btn btn-primary">Delete</button>
                  </form>
                  <% } %>
                  <% }) %>
                </section>
              </aside>
            </div>

          </div>
        </div>
      </div>
