
<div class="index-title">
<h1 class="exhibitions-title">Current Exhibitions</h1>
</div>

<hr>

<div class="container" class="card-main">

  <div class="row" max-height="500px" class="item">
    <% exhibitions.forEach((exhibition) => { %>

      <div class="col-lg-4" class="card-wrapper">
      <div class="card" style="width: 23.5rem;"class="col-lg-4 col-md-8">

        <a href="/exhibitions/<%= exhibition.id %>">

          <img class="card-img-top" class="thumbnail" src="<%= exhibition.image %>" alt="<%= exhibition.name %>" alt="Card image cap" width="100%">

          <div class="card-block" >
            <h4 class="card-title"><%= exhibition.name %></h4>
            <p class="card-text">
              <%= exhibition.exhibitionDate %><br>

              </p>
            <p>
              <% while(exhibition.stars--) { %> &star; <% } %>
            </p>
          </div>

        </a>

      </div>
      </div>


    <% }) %>
  </div>

</div>
