<div class="banner">
  <h1 id="index-title">Current Exhibitions</h1>
</div>
<hr>
<div class="main-container">
  <div class="row rows">
    <% exhibitions.forEach((exhibition) => { %>
      <div class="col-lg-4 exhibition-wrapper" >
        <div class="text-wrapper">
          <div class="img-container">
            <a href="/exhibitions/<%= exhibition.id %>">
              <img class="index-img" src="<%= exhibition.image %>" alt="<%= exhibition.name %>" width="100%">
            </a>
          </div>
          <div class="exhibition-text" >
            <h5><%= exhibition.name %></h5>
            <p><%= exhibition.exhibitionDate %><br></p>
            <p><% while(exhibition.stars--) { %> &star; <% } %></p>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>
